body {
  margin: 0;
}

main {
  /* width: 400vh; */
  height: 200vh;
}

.header_image {
  height: 150px;
  z-index: 0;
  position: absolute;
  left: -110px;
}

.header_items_container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header_items, .play, .oscar {
  height: fit-content;
  display: flex;
  align-items: center;
}

.logo, .play, .oscar, .search, .plus, .enter {
  z-index: 2;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: Arial;
  margin: 10px 10px;  
}

.play, .oscar, .search, .enter {
  filter: brightness(70%);
  opacity: 0.8;
}

.play:hover, .oscar:hover, .enter:hover {
  filter: brightness(100%);
  opacity: 1;
}

.logo{
  height: 35px;
  margin-right: 70px;  
}

#play_img, #oscar_img {
  margin-right: 5px;
}

.search {
  background-color: rgb(63, 59, 67);
  color: white;
  height: fit-content;
  width: 300px;
  padding: 10px 20px;
  margin-right: 70px;
  border: 0px;
  border-radius: 8px;
}

.plus {
  background-color: rgb(96, 85, 244);
  border: 0px;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 12px;
}

.enter {
  text-decoration: none;
}